.info-container {
    padding: 1rem;
    background-color: #2b2b2b; /* Fondo oscuro */
    color: #fff; /* Texto blanco */
}

.date-display {
    text-align: center;
    margin-bottom: 1rem;
}

.time-weather-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.time-display {
    text-align: left;
}

.weather-info {
    text-align: right;
}

.additional-info {
    margin-top: 1rem;
    text-align: left;
}

.control-button {
    margin-right: 0.5rem; /* Espaciado entre botones */
}

.game-container{
    min-height: 70vh;
}