.character-card {

    color: #000000; /* Texto claro */
    border: 1px solid #444; /* Borde sutil */
    border-radius: 8px;
    padding: 15px;
}

.character-card .card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.character-card .btn-danger {
    background-color: #ff5c5c; /* Color rojo suave */
    border: none;

}

.character-card .btn-danger:hover {
    background-color: #ff4040;
}

.character-card .attack-list {
    padding-left: 1.2rem; /* Separación para la lista */
    list-style-type: none;
    color: #1d1d1d;
}

.character-card .attack-list li {
    padding: 2px 0; /* Espaciado entre ataques */
    font-size: 0.9rem;
}

.character-card .btn {
    margin-top: 10px;
    background-color: #dc3545;
    border: none;
}

.character-card .btn:hover {
    background-color: #c82333;
}

.modal-header, .modal-body, .modal-footer {
    background-color: #222; /* Fondo modal oscuro */
    color: #f8f9fa;
    border-color: #333;
}

.modal-content {
    border-radius: 8px;
}

.modal-header .close {
    color: #f8f9fa;
}

.form-control {
    background-color: #444; /* Fondo del input oscuro */
    color: #f8f9fa; /* Texto claro */
    border: 1px solid #666;
}

.form-control:focus {
    background-color: #555;
    color: #f8f9fa;
    border-color: #888;
    box-shadow: none;
}

.button-confirm-damage {
    background-color: #007bff;
    border: none;
}

.button-confirm-damage:hover {
    background-color: #0056b3;
}

.button-cancel {
    background-color: #6c757d;
    border: none;
}

.button-cancel:hover {
    background-color: #5a6268;
}
